ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363987;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #FAC905;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

h1 {
    color: #363987;
    margin-left: 100px;
    margin-top: 10px;
    font-variant:small-caps;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    margin-left: 100px;
    color: #363987;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size:3em;
    color: #585BAD;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 1.5em;
    margin-left: 100px;
    color: #585BAD;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    margin-left: 100px;
    color: #585BAD;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin-left: 16px;
    text-align: justify;
    margin-right: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}

img {
    max-width: 80%;
    margin-left: 0px;
    border-radius: 4px;
}

.col {
    padding-bottom: 0px;
    padding-top: 50px;
}

.row {
    margin-right: 200px;
    padding-bottom: 50px;
}

.card-img-top {
    padding: 16px;
    max-width: 100%;
    border-radius: 4px;
}

.btn-primary {
    margin-right: 20px;
}

.card-text {
    margin-right: 10px;
    margin-left: 10px;
}

#vid {
    margin-left: 150px;
    margin-right: 150px;
}